

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: rgb(107, 107, 107);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

input {
  padding: 8px;
  border-radius: 6px;
  margin: 3px;
  border: 1px solid #000;
}

input:focus{
  border: 1px solid #ffb6c1;
}

.adicionar {
  margin: 3px;
  padding: 8px;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: aliceblue;
  cursor: pointer;
  
}

.adicionar:hover{
    background-color: #ffb6c1;
}

.amostra{
    background-color: aliceblue;
    margin: 6px;
    size: 16px;
}


